@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white: #fff;
  --primary-light-grey: #f4f4f4;
  --primary-black: #111;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-gold: #ABB94F;
  --primary-dark: rgb(52, 58, 64);
  --primary-hover-red: #f33501;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***************NAVBAR************************/
.logo{
  width: 7rem;
}

/******************MENU LINKS******************/
nav a.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-hover-red);
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-hover-red);
}

.button1{
  margin-top: 0rem;
  margin-left: 5rem !important;
}

Button{
  border-color: var(--primary-hover-red) !important;
  background-color: white !important;
  color:#111 !important;
  
}

/***************HEADER************************/
.header-wraper{
  position: relative;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../headerBackground.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 95vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.main-info h1{
  color: white  ;
  text-transform: uppercase;
}

/**************TYPED TEXT************************/
.typed-text{
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--primary-hover-red);
}

@media(max-width: 768px){
  .main-info h1{
    font-size: 1.7rem !important;
  }
  .typed-text{
    font-size: 1.3rem !important;
  }
}


/***************Log In / Sign Up Container************************/

.logo2{
  margin-left: 3.6rem;
}

.logoLogIn{
  width: 12rem;
  margin-left: 1rem;
  margin-top:-1rem
}

.card{
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20rem;
  margin-top: 5rem;
  margin-right: 20rem;
  }

  /***************MEDIA QUERIES**********************/

@media(max-width: 812px){
  .card{
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-top: 5rem;
  margin-right: 2rem;
  }
}